.product {
    min-height: calc(100vh - 200px);
}

.product-wrapper {
    display: flex;
    column-gap: 50px;

    max-width: 1200px;
    margin: 50px auto;
}

.img-content {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.main-photo {
    position: relative;

    overflow: hidden;
    width: 560px;
    height: 690px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    transition: background-image 0.2s ease-in;
}

.product-heart {
    position: absolute;
    top: 5px;
    right: 5px;

    display: block;
    width: 60px;
    height: 60px;

    background-color: #f0ded081;
    border-radius: 50%;
    line-height: 82px;
    text-align: center;
    cursor: pointer;

    transition: all 0.3s ease-in;
}

.product-heart img {
    width: 30px;
}

.product-heart-hidden {
    visibility: hidden;
    opacity: 0;
}

.main-photo:hover .product-heart {
    visibility: visible;
    opacity: 1;
}


.secondary-photo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.secondary-photo-img {
    width: 100px;
    height: 130px;

    opacity: 0.3;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;

    transition: opacity 0.2s ease-in;
}

.secondary-photo-img-active {
    opacity: 1;
    border: #b98a80 solid 3px;
}

.info-content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px 0;
}

.product-category-link {
    color: #686868;
    font-weight: 300;
    text-transform: capitalize;
}

.product-category-link a {
    transition: color 0.2s ease-in;
}

.product-category-link a:hover {
    color: #b98a80;
}

.product-title {
    color: #EB6254;
    text-shadow: 1px 1px 1px gray;
    font-size: 1.3em;
    font-weight: 300;
}

.product-price {
    color: #31a88a;
    text-shadow: 1px 1px 1px #3c7a6e;
    font-size: 1.2em;
}

.product-price::after {
    content: ' BYN';
}

.product-colors {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.color-info {
    display: flex;
    flex-direction: column;

    color: #363636;
    font-weight: 700;
    text-transform: capitalize;
}

.color-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}

.color-name {
    color: #252525;
    font-weight: 300;
}

.color-hex {
    width: 30px;
    height: 30px;
    background-color: bisque;
    border-radius: 50%;
}

.product-btn {
    margin: 35px 0;
}

.add-to-basket {
    font-family: 'Federo', sans-serif;
    color: #F9F8F6;
    background-color: #252525;
    border: #252525 solid 2px;
    font-size: 0.9em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 17px;

    transition: all 0.3s ease-in;
}

.add-to-basket:hover, .add-to-basket-active {
    color: #252525;
    background-color: #F9F8F6;
}

.add-to-basket-active {
    cursor: default;
}

.product-btn-note {
    color: #686868;
    font-size: 0.6em;
    margin-top: 10px;
}

.product-composition {
    display: flex;

    color: #363636;
    font-weight: 700;
    text-transform: capitalize;

    margin-bottom: 10px;
}

.composition-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    color: #252525;
    font-weight: 300;
    margin-left: 15px;
}

.discription {
    color: #686868;
    font-size: 0.8em;
    line-height: 1.4;
}

.product-care summary, .product-delivery summary {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: capitalize;
    border-bottom: lightgray solid 1px;
    padding-bottom: 10px;
}

.product-care ul, .product-delivery p {
    color: #31a88a;
    font-size: 0.7em;
    line-height: 1.5;
    margin-left: 18px;
    margin-top: 20px;
}

.product-care li {
    margin-top: 8px;
}